<div class="page-wrapper">
  <div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <h6 class="logo-text">Event</h6>
      </div>
      <div class="toggle-icon ms-auto">
        <i class="bx bx-arrow-to-left"></i>
      </div>
    </div>
    <ul class="metismenu" id="menu">
      <li *ngFor="let item of menuItems">
        <a class="has-arrow" [routerLink]="['/', item.route]">
          <div class="parent-icon"><i class="{{ item.icon }}"></i></div>
          <div class="menu-title">{{ item.title }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
