<body class="bg-forgot">
  <div class="wrapper">
    <div
      class="authentication-forgot d-flex align-items-center justify-content-center"
    >
      <div class="card forgot-box">
        <div class="card-body">
          <div class="p-4 rounded border">
            <div class="text-center">
              <img src="assets/image/forgot-2.png" width="120" alt="image" />
            </div>
            <h4 class="mt-5 font-weight-bold">Forgot Password?</h4>
            <p class="text-muted">
              Enter your registered email ID to reset the password
            </p>
            <div class="my-4">
              <app-base-input
                *ngIf="!showOtpInput"
                label="Email id"
                [control]="emailControl"
                [isEmail]="true"
                [errorMessage]="emailIncorrect"
                class="form-group mb-3"
              ></app-base-input>

              <app-base-input
                *ngIf="showOtpInput"
                label="OTP"
                [control]="otpControl"
                [errorMessage]="validOtp"
                class="form-group mb-3"
              ></app-base-input>

              <app-base-input
                *ngIf="showOtpInput"
                label="New Password"
                [control]="newPasswordControl"
                type="password"
                required
                class="form-group mb-3"
              ></app-base-input>

              <app-base-input
                *ngIf="showOtpInput"
                label="Confirm Password"
                [control]="confirmPasswordControl"
                type="password"
                required
                class="form-group mb-3"
              ></app-base-input>
            </div>
            <div class="d-grid gap-2">
              <app-base-button
                [color]="'primary'"
                [disabled]="loading"
                (onClick)="showOtpInput ? verifyOtp() : sendPasswordReset()"
              >
                {{ showOtpInput ? "Verify OTP" : "Send" }}
              </app-base-button>
              <a
                *ngIf="!showOtpInput"
                routerLink="/login"
                class="btn btn-light btn-lg"
              >
                <i class="bx bx-arrow-back me-1"></i>Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
